
/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/


h2{
  color: #E83E01;  
}

.orange-color{
  color: #E83E01;  
}

label{
  font-size: 17px;
  /*font-family: "Raleway", sans-serif;*/
  font-family:'Poppins', sans-serif;
}

input{
  font-family: "Poppins", sans-serif;
}

::-webkit-input-placeholder { /* Edge */
  font-family: "Raleway", sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer */
  font-family: "Raleway", sans-serif;
}

::placeholder {
  font-family: "Raleway", sans-serif;
}

.header-font-style{
  font-family:'Poppins', sans-serif;
}

.content-font-style{
  font-family: "Raleway", sans-serif;
}

.aa-primary-btn:hover, .aa-primary-btn:focus {
  color: #E83E01; 
  border-color: #E83E01;
}
.aa-secondary-btn {  
  color: #E83E01 !important;  
}
.aa-secondary-btn:hover, .aa-secondary-btn:focus {
  background-color: #E83E01;  
}
.aa-browse-btn {
  background-color: #E83E01;  
  border: 1px solid #E83E01;  
}
.aa-browse-btn:hover, .aa-browse-btn:focus {
  color: #E83E01;
}
.aa-add-to-cart-btn:hover, .aa-add-to-cart-btn:focus {
  color: #E83E01;
  border-color: #E83E01;
}
.aa-filter-btn {
  background-color: #E83E01;
  border: 1px solid #E83E01;  
}
.aa-cart-view-btn {
  background-color: #E83E01;  
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a > span {
  color: #E83E01;  
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-logo a strong {
  color: #E83E01;
}
#aa-header .aa-header-bottom .aa-header-bottom-area .aa-search-box button {
  background-color: #E83E01;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link {
  color: #E83E01;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify {
  border: 1px solid #E83E01;  
  color: #E83E01;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cart-link .aa-cart-notify:after { 
  border-top-color: #E83E01;  
}
#aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product:hover, #aa-header .aa-header-bottom .aa-cartbox .aa-cartbox-summary ul li .aa-remove-product:focus {
  border-color: #E83E01;
}
#menu {
  background-color: #E83E01; 
}
#menu .menu-area .navbar-default .navbar-nav .open a {
  color: #E83E01;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {
  color: #E83E01;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover, #menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus { 
  background-color: #E83E01;
}
.scrollToTop {
  background-color: #E83E01;
  border: 1px solid #E83E01;  
}
.scrollToTop:hover,
.scrollToTop:focus { 
  color: #E83E01; 
}
#wpf-loader-two .wpf-loader-two-inner:before {
  background: #E83E01;  
}
#wpf-loader-two .wpf-loader-two-inner:after {
  background: #E83E01;  
}
#wpf-loader-two {
  background-color: #E83E01;  
}
#aa-slider .aa-slider-area .seq-title span {
  color: #E83E01;  
}
#aa-slider .aa-slider-area .seq .seq-next:hover, #aa-slider .aa-slider-area .seq .seq-next:focus {  
  background-color: #E83E01;
}
#aa-slider .aa-slider-area .seq .seq-prev:hover, #aa-slider .aa-slider-area .seq .seq-prev:focus {  
  background-color: #E83E01;
}
#aa-promo .aa-promo-area .aa-promo-banner .aa-prom-content span {  
  color: #E83E01;
}
#aa-promo .aa-promo-area .aa-promo-banner .aa-prom-content h4 a:hover {
  color: #E83E01 !important;
}
.aa-products-tab li a:hover, .aa-products-tab li a:focus, .aa-products-tab li a:active {  
  border-bottom: 1px solid #E83E01;
  color: #E83E01;
}
.aa-products-tab li.active a {
  border-bottom: 1px solid #E83E01!important;  
   color: #E83E01;
}
.aa-products-tab li.active a:hover, .aa-products-tab li.active a:focus {  
  border-bottom: 1px solid #E83E01;
   color: #E83E01;
}
.aa-product-catg li figure .aa-add-card-btn:hover {
  color: #000;
}
.aa-product-catg li .aa-product-title a:hover, .aa-product-catg li .aa-product-title a:focus {
  color: #E83E01;
}
.aa-product-catg li .aa-product-price {
  /*color: #E83E01;  */
}
.aa-product-catg li .aa-product-hvr-content a:hover, .aa-product-catg li .aa-product-hvr-content a:focus {
  color: #E83E01;
}
#quick-view-modal .modal-content button.close:hover {
  color: #E83E01; 
}
#quick-view-modal .modal-content .aa-product-view-content .aa-price-block .aa-product-avilability span {
  color: #E83E01;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-size a:hover, #quick-view-modal .modal-content .aa-product-view-content .aa-prod-view-size a:focus {
  border-color: #E83E01;
  color: #E83E01;
}
#quick-view-modal .modal-content .aa-product-view-content .aa-prod-quantity .aa-prod-category a {
  color: #E83E01; 
}
.slick-prev,
.slick-next {
  background-color: #E83E01;
}
#aa-support .aa-support-area .aa-support-single span {
  color: #E83E01; 
}
#aa-testimonial .aa-testimonial-area .aa-testimonial-slider li.slick-active {
  background-color: #E83E0199;
}
.aa-latest-blog-single .aa-blog-img:hover .aa-blog-img-caption {
  background-color: #E83E01;
}
.aa-latest-blog-single .aa-blog-info .aa-blog-title a:hover {
  color: #E83E01;
}
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn {
  color: #E83E01;  
}
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:hover span, .aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:focus span {  
  color: #E83E01;
}
#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
  background: #E83E01 none repeat scroll 0 0;
  border: 1px solid #E83E01;  
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:hover, #aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:focus {
  color: #E83E01;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content .breadcrumb .active {
  color: #E83E01;
}
#aa-product-category .aa-sidebar .aa-sidebar-widget h3 {
  color: #E83E01;
  border-bottom: 1px solid #E83E01;
}
#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-catg-nav li a:hover, #aa-product-category .aa-sidebar .aa-sidebar-widget .aa-catg-nav li a:focus {
  color: #E83E01;
}
#aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud a:hover, #aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud a:focus {
  background-color: #E83E01;
}
#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a:hover, #aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a:focus {
  color: #E83E01;
}
#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-right a:hover, #aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-right a:focus {
  color: #E83E01;
}
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li a:hover,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li span:hover {
  color: #E83E01;
}
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li a:focus,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li span:focus {
  background-color: #E83E01;
}
#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity .aa-prod-category a {
  color: #E83E01;
}
#aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a:hover, #aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a:focus {
  color: #E83E01;
}
#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .aa-review-submit {  
  background-color: #E83E01;  
  border-color: #E83E01;  
}
#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .form-control:focus {
  border-color: #E83E01;
}
#cart-view .cart-view-area .cart-view-table .table tbody tr td .aa-cart-title {
  color: #E83E01;
}
#cart-view .cart-view-area .cart-view-table .table tbody tr td .aa-cart-title:hover {
  color: #E83E01;
}
#checkout .checkout-area .checkout-left .panel-group .panel-default .panel-heading .panel-title a { 
  color: #E83E01;
}
#checkout .checkout-area .checkout-right h4 { 
  color: #E83E01;
}
#login-modal .modal-dialog .aa-register-now a {
  color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single h4 a:hover, #aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single h4 a:focus {
  color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-content .aa-blog-content-single .aa-article-bottom .aa-post-author a {
  border-bottom: 1px solid #E83E01;
  color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget h3 {
  color: #E83E01;
  border-bottom: 1px solid #E83E01;  
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .aa-catg-nav li a:hover, #aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .aa-catg-nav li a:focus {
  color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .tag-cloud a:hover, #aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .tag-cloud a:focus {
  background-color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .aa-sidebar-price-range .noUi-connect {
  background: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a:hover, #aa-blog-archive .aa-blog-archive-area .aa-blog-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a:focus {
  color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-archive-pagination .pagination li a:hover,
#aa-blog-archive .aa-blog-archive-area .aa-blog-archive-pagination .pagination li span:hover {
  color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-archive-pagination .pagination li a:focus,
#aa-blog-archive .aa-blog-archive-area .aa-blog-archive-pagination .pagination li span:focus {
  background-color: #E83E01;
}
#aa-blog-archive .aa-blog-archive-area .aa-blog-archive-pagination .pagination .active a {
  background-color: #E83E01;
}
.aa-blog-details h2 a:hover, .aa-blog-details h2 a:focus {
  color: #E83E01;
}
.aa-blog-details .aa-blog-content-single .blog-single-tag a:hover, .aa-blog-details .aa-blog-content-single .blog-single-tag a:focus {
  color: #E83E01; 
}
.aa-blog-details .aa-blog-content-single .blog-single-social a:hover, .aa-blog-details .aa-blog-content-single .blog-single-social a:focus {
  color: #E83E01; 
}
.aa-blog-details .aa-blog-navigation .aa-blog-prev {
  background-color: #E83E01;
  border: 1px solid #E83E01;  
}
.aa-blog-details .aa-blog-navigation .aa-blog-next {
  background-color: #E83E01;
  border: 1px solid #E83E01;  
}
.aa-blog-details .aa-blog-comment-threat .comments .commentlist li .reply-btn {
  background-color: #E83E01;  
}
.aa-blog-details .aa-blog-comment-threat .comments .commentlist li .author-tag {
  background-color: #E83E01;  
}
.aa-blog-details #respond input[type="text"]:focus,
.aa-blog-details #respond input[type="email"]:focus,
.aa-blog-details #respond input[type="url"]:focus {
  border-color: #E83E01;
}
.aa-blog-details #respond textarea:focus {
  border-color: #E83E01;
}
.aa-blog-details #respond .form-submit input:hover {
  color: #E83E01 !important;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-left .comments-form .form-control:focus {
  border-color: #E83E01;
}
#aa-contact .aa-contact-area .aa-contact-address .aa-contact-address-left .comments-form button {
  border: 1px solid #E83E01;  
}
#aa-error .aa-error-area {
  border: 5px solid #E83E01;  
}
#aa-error .aa-error-area h2 {
  border-bottom: 3px solid #E83E01;  
}
#aa-error .aa-error-area a:hover, #aa-error .aa-error-area a:focus {
  color: #E83E01;
  border-color: #E83E01;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:hover, #aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a:focus {
  color: #E83E01;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #E83E01;
}


#aa-testimonial .aa-testimonial-area .aa-testimonial-slider .slick-slide{
  width: 34% !important;
}


/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/