
.m-0{
  margin: 0px;
}
.p-0{
  padding: 0px;
}
.quick-view-overlay{background-color:rgba(0,0,0,.5);}
.add-address-modal,.add-contact-modal{box-shadow:0 10px 40px rgba(0,0,0,0.16);border-radius:3px !important;}
.add-address-modal .innerRndComponent,.add-contact-modal .innerRndComponent{width:100%;padding:30px;height:auto;background-color:#f7f8f9;border:0;box-sizing:border-box;}
.search-modal-mobile{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important;max-width:none!important;max-height:none!important;top:0!important;left:0!important;background:transparent!important;border-radius:0!important;}
.reuseModalCloseBtn{right:10px!important;background-color:#ffffff!important;color:#222222!important;border-radius:15px!important;padding:0 9px!important;box-shadow:0 2px 8px rgba(0,0,0,0.4);}
.image-item{padding:0 15px;}
@media (max-width:1199px) and (min-width:991px){.image-item{padding-left:10px;padding-right:10px;}}
@media (max-width:768px){.image-item{padding-left:7.5px;padding-right:7.5px;}}
.rc-table-fixed-header .rc-table-scroll .rc-table-header{margin-bottom:0 !important;padding-bottom:0 !important;}
.rc-table-fixed-header .rc-table-scroll .rc-table-header th{padding:8px 20px;}
.drawer-content-wrapper *:focus{outline:none;}
.rc-table-content{border:0;}
.cTxOQH{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.hwqrtf{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-align-items:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  border-radius:6px;
  background-color:#F7F7F7;
  border:1px solid #F7F7F7;
  text-align:center;
  padding:15px 20px;
  margin-bottom:15px;
  margin-right:15px;
  position:relative;
  
  font-size:15px;
  font-weight:400;
  color:#0D1136;
  line-height:24px;
  cursor:pointer;
  width:100%;
  -webkit-transition:all 0.25s ease;
  transition:all 0.25s ease;
  }
.hwqrtf.active{border:1px solid #E83E01;background-color:#ffffff;}
.hwqrtf.disabled{cursor:not-allowed;opacity:0.6;}
.hwqrtf.item-has-title{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;text-align:left;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;padding:15px;}
.hwqrtf:last-child{margin-right:0;}
.hwqrtf input[type='radio']{opacity:0;visibility:hidden;position:absolute;top:0;left:0;}
.hwqrtf:hover .button-wrapper{opacity:1;visibility:visible;}
.cPveDi{font-family:Poppins,sans-serif;font-size:13px;font-weight:700;color:#0D1136;line-height:1.2;margin-bottom:5px;text-transform:capitalize;}
.kaqLAA{font-family:Poppins,sans-serif;font-size:15px;font-weight:400;color:#424561;}
.iBfBBt{display:block;position:absolute;top:10px;right:10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;opacity:0;visibility:hidden;-webkit-transition:0.2s ease-in-out;transition:0.2s ease-in-out;}
.hUBkbv{
  display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;border:0;width:20px;height:20px;border-radius:50%;overflow:hidden;margin-left:5px;cursor:pointer;outline:0;padding:0;color:#ffffff;
    position: absolute;
    right: 10px;
    top: 5px;
  }
.hUBkbv.edit-btn{background-color:#E83E01;
    position: absolute;
    right: 50px;
    top: 20px;
}
.hUBkbv.delete-btn{background-color:#ff5b60;
  position: absolute;
    top: 20px;
    right: 20px;
    }
.hUBkbv svg{display:block;width:8px;height:auto;}
.gyWZbT{
  font-size:22px;
  font-weight:400;
  color:#0D1136;
  line-height:1.2;
  margin-bottom:20px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}
@media (max-width:767px){.gyWZbT{font-size:19px;}}
.gyWZbT:before{
  counter-increment:section-counter;content:counter(section-counter);color:#ffffff;font-size:19px;width:35px;height:35px;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:#E83E01;margin-right:15px;

  }
@media (max-width:600px){.gyWZbT:before{width:30px;height:30px;font-size:15px;}}
.hUnwBz{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.hUnwBz .radioGroup{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;}
.hUnwBz .radioGroup label:nth-child(3n){margin-right:0;}
@media (max-width:700px){.hUnwBz .radioGroup label{-webkit-flex:calc(50% - 10px);-ms-flex:calc(50% - 10px);flex:calc(50% - 10px);max-width:calc(50% - 10px);}.hUnwBz .radioGroup label:nth-child(3n){margin-right:15px;}.hUnwBz .radioGroup label:nth-child(2n){margin-right:0;}}
@media (max-width:480px){.hUnwBz .radioGroup label{-webkit-flex:100%;-ms-flex:100%;flex:100%;max-width:100%;margin-right:0;}.hUnwBz .radioGroup label:nth-child(3n){margin-right:0;}.hUnwBz .radioGroup label:nth-child(2n){margin-right:0;}}
.hUnwBz .add-button{-webkit-flex:calc(33.3333333333% - 10px);-ms-flex:calc(33.3333333333% - 10px);flex:calc(33.3333333333% - 10px);max-width:calc(33.3333333333% - 10px);-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;height:auto;min-height:77px;border:1px dashed #f1f1f1;margin-bottom:15px;margin-left:0;margin-right:auto;}
.hUnwBz .add-button:hover{border-color:#E83E01;}
@media (max-width:700px){.hUnwBz .add-button{-webkit-flex:calc(50% - 10px);-ms-flex:calc(50% - 10px);flex:calc(50% - 10px);max-width:calc(50% - 10px);}}
@media (max-width:480px){.hUnwBz .add-button{-webkit-flex:100%;-ms-flex:100%;flex:100%;max-width:100%;}}
.hUnwBz .addButton{width:auto;height:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:transparent;border:0;outline:0;border-radius:0;padding:0;font-family:Poppins,sans-serif;font-size:13px;font-weight:700;color:#E83E01;position:absolute;top:40px;right:30px;}
@media (max-width:600px){.hUnwBz .addButton{top:27px;right:20px;}}
.jaWakZ{box-sizing:border-box;min-width:0;margin:0;margin-right:8px;}
.kTaRWN{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:130px 60px 60px;position:relative;}
@media (max-width:1100px){.kTaRWN{padding-left:0;padding-right:0;}}
@media (max-width:990px){.kTaRWN{padding-top:60px;}}
.pdBLU{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;counter-reset:section-counter;}
@media (min-width:990px){.pdBLU{width:970px;margin-left:auto;margin-right:auto;}}
@media (max-width:767px){.pdBLU{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}}
.fNjaVE{position:relative;width:100%;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-right:20px;padding:20px;}
@media (max-width:990px){.fNjaVE{margin-right:10px;}}
@media (max-width:767px){.fNjaVE{-webkit-order:1;-ms-flex-order:1;order:1;margin-right:0;}}
.czcoEl{background-color:#ffffff;padding:10px;padding-bottom:20px;position:relative;margin-bottom:20px;box-shadow:0 2px 16px 0 rgba(0,0,0,0.08);}
@media (max-width:767px){.czcoEl{padding:20px;}}
.eXKZzo .radioGroup{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.eXKZzo .radioGroup > label{margin-right:0;-webkit-flex:calc(33.3333333333% - 10px);-ms-flex:calc(33.3333333333% - 10px);flex:calc(33.3333333333% - 10px);max-width:calc(33.3333333333% - 10px);padding:11px 15px;}
@media (max-width:900px) and (min-width:768px){.eXKZzo .radioGroup > label{-webkit-flex:calc(50% - 10px);-ms-flex:calc(50% - 10px);flex:calc(50% - 10px);max-width:calc(50% - 10px);}}
@media (max-width:480px){.eXKZzo .radioGroup > label{-webkit-flex:100%;-ms-flex:100%;flex:100%;max-width:100%;margin-right:0;}}
.xqsRC{margin-top:25px;}
.xqsRC .reusecore__button{width:100%;}
.ZIflh{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;margin-top:50px;}
.ZIflh .couponCodeText{margin-right:auto;}
.gnYelQ{font-family:Poppins,sans-serif;font-size:15px;font-weight:400;color:#E83E01;width:auto;height:auto;display:inline-block;border:0;outline:0;box-shadow:none;background-color:transparent;padding:0;cursor:pointer;}
.cKAhHK{font-family:Poppins,sans-serif;font-size:13px;font-weight:400;color:#77798C;line-height:1.5;margin-top:30px;display:block;}
.hDDLFu{font-family:Poppins,sans-serif;font-size:13px;font-weight:400;color:#ff5b60;margin-left:5px;cursor:pointer;line-height:1.5;}
.koCllw{
  /*width:270px;*/
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  padding-top:20px;
}
@media (min-width:768px) and (max-width:1200px){.koCllw{width:260px;}}
@media (max-width:767px){.koCllw{-webkit-order:0;-ms-flex-order:0;order:0;width:100%;padding-left:15px;padding-right:15px;padding-top:40px;padding-bottom:30px;position:relative !important;}}
.hHplMm{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
@media (min-width:768px) and (max-width:990px){.hHplMm{padding-right:15px;}}
.jnCfcu{
    font-size: 16px;
    font-weight: 700;
    color: #0D1136;
    text-align: center;
    margin-bottom: 20px;

}
.eYnNo{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
  -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
  /*padding-left:15px;*/
}
.bwCuOh{border-top:1px solid #E6E6E6;padding:20px 0px 0;margin-top:20px;}
.gEnRQG{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:10px;}
.bwQacx{font-family:Poppins,sans-serif;font-size:calc(15px - 1px);font-weight:400;color:#77798C;}
.nxTQW{font-family:Poppins,sans-serif;font-size:calc(15px - 1px);font-weight:700;color:#0D1136;}
.iJFuxx{font-family:Poppins,sans-serif;font-size:11px;}
.bmhfvN{font-family:Poppins,sans-serif;font-size:calc(15px - 1px);font-weight:400;color:#77798C;line-height:1.2;position:relative;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:10px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.kFRfBj{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:20px;}
.kFRfBj svg{width:140px;height:auto;}
.gNfgtA{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:-15px;}
.gNfgtA .addCard{font-family:Poppins,sans-serif;font-size:13px;font-weight:700;color:#E83E01;}
.gwGyou{margin-top:15px;margin-left:-10px;margin-right:-10px;position:relative;}
@media (max-width:500px){.gwGyou{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}}
.gwGyou .prevButton{left:-10px;}
.gwGyou .nextButton{right:-10px;}
@media (max-width:500px){.gwGyou .prevButton{left:-10px;}.gwGyou .nextButton{right:-10px;}}
.cueKkt{margin-right:6px;}
.cXWBaR{font-family:Poppins,sans-serif;font-size:13px;font-weight:700;color:#E83E01;display:block;}

button .pencil-add:hover, .pencil-add:focus{
  outline: none!important;
    border: none!important;
    background: transparent!important;
}
  button.btn.btn-pay.pay-card.addButton {
    position: absolute;
    right: 20px;
    background-color: transparent;
    display: inline-flex;
}

/*=====================================product dropdown list=============================*/
.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 10px 10px 10px 0px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li:last-child .link { border-bottom: 0; }
.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.accordion li.open .link { color: #000;
    font-weight: 600;}
.accordion li.open i { color: #b63b4d; }
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.submenu {
  display: none;
  font-size: 14px;
}
.submenu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 12px;
  padding-left: 15px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.submenu a:hover {
  background: #fff;
  color: #E83E01;
}
.btn-add-cart{
    background-color: #E83E01!important;
    color: #fff!important;
    margin: -10px 10px!important;
    padding: 4px 10px!important;
    /*float: right!important;*/
}
.btn-add-cart:hover{
      background-color: #fff!important;
      border: 1px solid #E83E01!important;
    color: #E83E01!important;
}


ul.aa-footer-nav li {
    line-height: 30px;
}



/*=======================*/
.product-slider:hover{
       transform: scale(1.1); 
       transition: .3s;
  }
.btn-add-cart{
    background-color: #E83E01!important;
    color: #fff!important;
    margin: -10px 10px!important;
    padding: 4px 10px!important;
}
.btn-add-cart:hover{
      background-color: #fff!important;
      border: 1px solid #E83E01!important;
    color: #E83E01!important;
}
.modal-title {
    float: left!important;
}