
input[type="radio"] {
	display: block;
	&:not(:disabled) ~ label {
	  cursor: pointer;
	      padding: 25px 5px 0px;
	}
	&:disabled ~ label {
	  color: hsla(150, 5%, 75%, 1);
	  border-color: hsla(150, 5%, 75%, 1);
	  box-shadow: none;
	  cursor: not-allowed;
	}
  }
  label {
	  height: 100%;
	  background: white;
	  border: none;
	  border-radius: 10px;
	  padding: 5px;
	  margin-bottom: 1rem;
	  text-align: center;
	  /* box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5); */
	  position: relative;
	  font-weight: 300;
  }
  input[type="radio"]:checked + label {
	  border: 1px solid #E83E01;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 25px 5px 10px;
    margin-bottom: 0rem;
    text-align: center;
    position: relative;
	&::after {
	 
	  font-size: 24px;
	  position: absolute;
	  top: -25px;
	  left: 50%;
	  transform: translateX(-50%);
	  height: 50px;
	  width: 50px;
	  line-height: 50px;
	  text-align: center;
	  border-radius: 50%;
	  background: white;
	  box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
	}
  }
  input[type="radio"]#control_05:checked + label {
	background: #E83E01;
	border-color: #E83E01;
  }
  
  
  @media only screen and (max-width: 700px) {
	section {
	  flex-direction: column;
	}
  }
  
  input[type="radio"] {
	  visibility: hidden;
  }